terratowns_endpoint="https://terratowns.cloud/api"
paris-texas = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/paris-texas"
  content_version = 1 
}
study-music = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/study-music"
  content_version = 1 
}